@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

.App {
  text-align: center;
}


.font-Uchen{
  font-family: 'Uchen', serif;
}

body{
  background-color: #f4f1f7;
}

.blink {
  animation: blinker 0.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
